:root {
    --primary-color: rgb(238,75,43);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #fdcf46;
    --blue-color: #00c1de;

    
}
* {
    box-sizing: inherit;
}

body {
    width: 100%;
    margin: 0;
    color: #494b55;
    overflow-x: hidden;
}
html {
    /* width: 100%;
    height: 100%; */
     font-size: 62.5%;
     line-height: 1.6rem;
     font-family: 'Roboto', sans-serif;
     box-sizing: border-box;
}
.div {
    display: block;
}
.app {
    background-color: #fff;
}
.app__content {
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
    
}
.no-padding {
    padding: 0px;
}